body {
    background-color: #252938;
    color: #576E8C;
    font-size: 100%;
    font-family: 'Inter', sans-serif;
}

.intro {
    font-size: 13vmin;
    line-height: 0.9;
    max-height: 50vh;
}

.intro h3 {
    margin: 0;
    padding: 0;
}

#lottie {
    position: absolute;
    right: 0;
    bottom: 0;
}

#lottie svg {
    height: 50vh !important;
}

.upload-form {
    position: absolute;
    bottom: 0;
    width: 50vw;
    padding: 1rem;
    min-height: 50vh;
}

.email {
    all: unset;
    background-color: #576E8C;
    color: #252938;
    width: 50%;
    font-size: 1.5rem;
    padding: 1.1rem;
    border-radius: 5em;
    margin: 0.5rem 0;
}

.email::placeholder {
    color: #252938;
}

.upload-form input[type=file] {
    all: unset;
    display: none;
}

.file-container {
    margin-top: 1rem;
    width: calc(50% + 2rem);
    height: 20vh;
    color: #252938;
    background-color: #576E8C;
    border-radius: 1em;
}

.file-container label {
    display: block;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 1.1rem;
}

.file-container label:hover {
    cursor: pointer;
}

.file-container:hover {
    transition: all 0.3s ease-in-out;
    background-color: #252938;
    color: #576E8C;
    cursor: pointer;
    border: #576E8C 1px solid;
}

.upload-form input[type=submit] {
    all: unset;
    background-color: #576E8C;
    color: #252938;
    font-size: 1.5rem;
    padding: 1.1rem;
    border-radius: 5em;
    margin-top: 1rem;
    width: 50%;
}

.upload-form input[type=submit]:hover {
    background-color: #252938;
    color: #29de25;
    cursor: pointer;
    border: #29de25 1px solid;
    transition: all 0.2s ease-in-out;
}

.meta-info {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 1vmax;
    margin-right: 1vmax;
}

@media (max-width: 900px) {
    .upload-form {
        width: 80%;
        padding: 0;
    }

    .email {
        width: 100%;
    }

    .file-container {
        width: 100%;
        margin-left: 1rem;
    }

    .upload-form input[type=submit] {
        width: 100%;
    }

    .meta-info {
        position: absolute;
        top: 30%;
    }
}