<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filetransfer</title>
    <link href="/static/style.css" rel="stylesheet"></link>
</head>
<body>

    <h1>filetransfer</h1>
    <div>
        <form action="/upload" class="file-form">
            <div>
                <label for="email">To:</label>
                <input type="email" name="email" />
            </div>
            <div>
                <input type="file" name="file" />
            </div>
            <input type="submit" value="Upload" />
        </form>
        <div class="meta-info"></div>
    </div>
    <div id="lottie"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.6/lottie.min.js" integrity="sha512-yAr4fN9WZH6hESbOwoFZGtSgOP+LSZbs/JeoDr02pOX4yUFfI++qC9YwIQXIGffhnzliykJtdWTV/v3PxSz8aw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/main.js"></script>
</body>
</html>